footer {
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $black;
  color: $white;
  font-size: .875rem;
  font-family: $roboto;
  font-weight: 400;
  padding: 0 $gap;

  @media #{$mobile}{
    font-size: .75rem;
  }

  @media #{$mobile-xs} {
    height: auto;
    padding: 10px $gap;
  }
}
