//variables
$primary-color: #B7E1B8;
$secondary-color: #F41E14;
$brand-color: $primary-color;
$brand-black: #2D2222;
$white: #fff;
$black: #000;
$gap: 25px;
$gap-sm: 15px;
$roboto: Roboto, sans-serif;
$industry: Industry, sans-serif;
$mobile: screen and (max-width: 767px);
$mobile-xs: screen and (max-width: 413px);
$desktop: screen and (min-width: 768px);
